# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.nox/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

# IDE and editor files
.idea/
.vscode/
*.code-workspace

# Secrets
*.env
.env.*
